---
theme: the-erudite
---
{% include the-erudite/header.html %}
            {% for post in paginator.posts %}
            <div class="post {% if forloop.index == 1 and paginator.page == 1 %}first-post{% elsif paginator.page == 1 %}home-post home-post-{{ forloop.index }}{% endif %}">
                <h{% if forloop.index == 1 and paginator.page == 1 %}2{% else %}3{% endif %} class="entry-title"><a href="{{ post.url }}" title="Pysyvä linkki {{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>
                <div class="entry-content">
                    {% if forloop.index == 1 and paginator.page == 1 %}{{ post.content }}{% else %}<p>
                        {{ post.content | strip_html | truncatewords: 55, ' <span class="excerpt-more">&hellip;</span>' }}
                    </p>
                    <p class="more-link"><a href="{{ post.url }}" title="Lue lisää &lsquo;{{ post.title }}&rsquo;">Lue lisää <span class="meta-nav">&rarr;</span></a></p>{% endif %}
                    <hr />
                </div>
                <div class="entry-meta">
                    {% include comment-count %}
                    <span class="entry-date"><abbr class="published" title="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d.%m.%Y" }}</abbr></span>
                    <span class="meta-sep">|</span>
                    <span class="author vcard">Kirjoittanut <a href="/author/{{ post.author | downcase }}/" title="Kirjoittajan {{ post.author }} julkaisut">{{ post.author }}</a></span>
                    <span class="meta-sep">|</span>
                    <span class="cat-links">Julkaistu{% for category in post.categories %} <a href="/luokka/ruuanlaitto/reseptit/" title="Näytä kategoria Reseptit" rel="category tag">{{ category }}</a>{% endfor %}</span>
                    <span class="meta-sep">|</span>
                    <span class="comments-link"><a href="{{ post.url }}#disqus_thread" title="Comment on {{ post.title }}">kommentoi</a></span>
                </div>
            </div><!-- .post -->
            {% endfor %}

			<div id="nav-below" class="navigation">
                <div class="nav-previous">{% if paginator.next_page %}<a href="/page{{ paginator.next_page }}/" ><span class="meta-nav">&larr;</span> Vanhempia julkaisuja</a>{% endif %}</div>
                <div class="nav-next">{% if paginator.previous_page %}<a href="{% if paginator.previous_page == 1 %}/{% else %}page{{ paginator.previous_page }}{% endif %}">Uudempia julkaisuja <span class="meta-nav">&rarr;</span></a>{% endif %}</div>
			</div>

{% include the-erudite/footer.html %}
