---
theme: the-erudite
---
{% include the-erudite/header.html %}
            {% for post in paginator.posts %}
            <div class="post {% if forloop.index == 1 and paginator.page == 1 %}first-post{% elsif paginator.page == 1 %}home-post home-post-{{ forloop.index }}{% endif %}">
                <h{% if forloop.index == 1 and paginator.page == 1 %}2{% else %}3{% endif %} class="entry-title"><a href="{{ post.url }}" title="Pysyvä linkki {{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>
                <div class="entry-content">
                    {% if forloop.index == 1 and paginator.page == 1 %}{{ post.content }}{% else %}<p>
                        {{ post.content | strip_html | truncatewords: 55, ' <span class="excerpt-more">&hellip;</span>' }}
                    </p>
                    <p class="more-link"><a href="{{ post.url }}" title="Lue lisää &lsquo;{{ post.title }}&rsquo;">Lue lisää <span class="meta-nav">&rarr;</span></a></p>{% endif %}
                    <hr />
                </div>
                {% assign node = post %}
                {% include meta %}
            </div><!-- .post -->
            {% endfor %}

			<div id="nav-below" class="navigation">
                <div class="nav-previous">{% if paginator.next_page %}<a href="/page{{ paginator.next_page }}/" ><span class="meta-nav">&larr;</span> Vanhempia julkaisuja</a>{% endif %}</div>
                <div class="nav-next">{% if paginator.previous_page %}<a href="{% if paginator.previous_page == 1 %}/{% else %}page{{ paginator.previous_page }}{% endif %}">Uudempia julkaisuja <span class="meta-nav">&rarr;</span></a>{% endif %}</div>
			</div>

{% include the-erudite/footer.html %}
