---
theme: the-erudite
---
{% include the-erudite/header.html %}
            <div class="{{ page.layout }}">
                <h2 class="entry-title">{{ page.title }}</h2>
                <div class="entry-content">
                    {{ content }}
                </div>
                <div class="entry-meta">
                    {% include comment-count %}
                    <span class="entry-date"><abbr class="published" title="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d.%m.%Y" }}</abbr></span>
                    <span class="meta-sep">|</span>
                    <span class="author vcard">Kirjoittanut <a href="/author/{{ page.author | downcase }}/" title="Kirjoittajan {{ page.author }} julkaisut">{{ page.author }}</a></span>
                    <span class="meta-sep">|</span>
                    <span class="cat-links">Julkaistu{% for category in page.categories %} <a href="/luokka/ruuanlaitto/{{ category | replace: 'ä','a' | replace: 'ö','o' | downcase | handle }}/" title="Näytä kategoria {{ category }}" rel="category tag">{{ category }}</a>{% unless forloop.last %},{% endunless %}{% endfor %}</span>
                    <span class="meta-sep">|</span>
                    <span class="comments-link"><a href="#disqus_thread" title="Comment on {{ page.title }}">kommentoi</a></span>
                </div>
            </div><!-- .post -->

            <div id="nav-below" class="navigation">
                {% if page.previous %}<div class="nav-previous"><a href="{{ page.previous.url }}" rel="prev"><span class="meta-nav">&larr;</span> {{ page.previous.title }}</a></div>{% endif %}
                {% if page.next %}<div class="nav-next"><a href="{{ page.next.url }}" rel="next">{{ page.next.title }} <span class="meta-nav">&rarr;</span></a></div>{% endif %}
            </div>

            {% include comments %}


{% include the-erudite/footer.html %}
